parameters:
		level: 8
		inferPrivatePropertyTypeFromConstructor: true
		checkMissingIterableValueType: false
		featureToggles:
			disableRuntimeReflectionProvider: true
		bootstrapFiles:
			- access-functions.php
			- wp-graphql-yoast-seo.php
		paths:
			- access-functions.php
			- wp-graphql-yoast-seo.php
			- src/
		scanDirectories:
			- ../wp-graphql/
			- ../wordpress-seo/
		ignoreErrors:
			- '#^Function apply_filters(_ref_array)? invoked with ([1-9]|1[0-2]) parameters, 2 required\.$#'
